main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.autor {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.autor img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
